<div class="ftrWrap bg-body-tertiary">
    <footer class="container-xxl pt-5 pb-5 mt-5">
        <h1>WAKAUT</h1>
        <p>
            홈페이지 운영 문의: Tel : 1811-1111 (평일 09:30~ 17:30) E-mail : honggil@naver.com <br>
            (주)구디거북이 : 04524 서울특별시 중구 세종대로 110 <br>
            Copyright 2014 GudiTurtle. All Rights Reserved.
        </p>
    </footer>
</div>
